<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
    <header class="header">
        <div class="contenedor">
            <span class="icon-menu" id="btn-menu"></span>
            <nav class="nav" id="nave">
                <ul class="menu">
                    <li class="menu__item"><a class="menu__link" href="/">Inicio</a></li>
                    <li class="menu__item"><a class="menu__link" href="/crear_curso">Crear Curso</a></li>
                    <li class="menu__item"><a class="menu__link" href="/verCursos">Ver Cursos</a></li>
                    <li class="menu__item"><a class="menu__link" href="">Inscribir</a></li>
                    <li class="menu__item"><a class="menu__link" href="/verInscritos">Ver Inscritos</a></li>
                </ul>
            </nav>
        </div>
    </header>