{{>header}}

<h2>Crear un curso</h2>

<main class="main">
    <form action="/crearCurso" method="POST">
        <div class="form-row">
            <div class="form-group col-md-6">
            <label for="inputId">Id Curso</label>
            <input type="numeric" class="form-control" name="id" id="inputId" placeholder="Id Curso" required>
            </div>
            <div class="form-group col-md-6">
            <label for="inputNombreCurso">Nombre Curso</label>
            <input type="text" class="form-control" name="nombre" id="inputNombreCurso" placeholder="Nombre Curso" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputDescripción">Descripción del Curso</label>
            <input type="text" class="form-control" name="descripción" id="inputAddress" placeholder="Descripción" required>
        </div>
        <div class="form-group">
            <label for="inputPrecio">Precio de Curso</label>
            <input type="numeric" class="form-control" name="precio" id="inputPrecio" placeholder="700000" required>
        </div>
        <div class="form-row">
            <label for="inputModalidad">Modalidad</label>
            <select id="inputModalidad" class="form-control" name="modalidad">
                <option selected></option>
                <option>Virtual</option>
                <option>Presencial</option>
            </select>
            </div>
            <div class="form-group col-md-2">
            <label for="inputIntensidad">Intensidad Horaria</label>
            <input type="numeric" class="form-control" id="inputIntensidad" name="intensidad" placeholder="N° total de horas del curso">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
    </form>

</main>
{{>footer}}